
<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>MovieApp</title>
    <link href="css/Frmks/bootstrap.min.css" rel="stylesheet" />
    <link href="css/Theme/app.css" rel="stylesheet" />
</head>
<body ng-controller="MovieController as movieCtrl">

<div class="container main">


    <h1>Movie Search:</h1>
    <div class="form-group">
        <input class="form-control" type="text" ng-model="searchText" autofocus ng-keyup="searchMovie()" />
    </div>

    <ul class="list-group movie-group" ng-hide="showToWatch()">
        <li ng-class="{'movie-group-item-toWatch': isToWatch(movie.id)}" class="list-group-item movie-group-item" ng-repeat="movie in movies" ng-click="addToWatch(movie.id)">
            {{movie.title}}  <span-movie-info class="pull-right"></span-movie-info>
        </li>
    </ul>

   <ul class="list-group" ng-show="showToWatch()">
        <li class="list-group-item movie-group-item" ng-repeat="movie in toWatch">
            {{movie.title}}
        </li>
   </ul>

</div>




<script src="js/Frmks/angular.min.js"></script>
<script src="js/Frmks/jquery-2.1.1.min.js"></script>
<script src="js/Frmks/bootstrap.js"></script>

<script src="api-config.js"></script>
<script src="directives/movie-directives.js"></script>
<script src="app.js"></script>
</body>
</html>